@import url("https:fonts.googleapis.com/css2?family=skranji&display=swap");

body {
	height: 100vh;
	width: 100wv;
	background: linear gradient(#113156, #070731);
	margin: 0;
	padding: 0;

}

.wrapper{
	height: 100vh;
	width: 100%;
	background-image: url(./image/mypics1.jpg);
	background-size: calc(10 * 2px) calc(10 * 2px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog{
	width: 640px;
	background: #a4363e;
	padding: 40px;
	border-radius: 30px;
	box-shadow: 5px 6px 0px -2px #620d15, 
				-6px 5px 0px -2px #620d15, 
				0px -2px 0px 2px #ee9191,
				0px 10px 0px 0px #610c14,
				0px -10px 0px 1px #e66565,
				0px 0px 180px 90px #0d2f66;
}

.content {
	font-family: "skranji", cursive;
	background: radial-gradient(#fffbf3, #ffe19e);
	padding: 24px;
	box-sizing: border-box;
	border-radius: 20px 18px 20px 18px;
	box-shadow: 
				0px 0px 0px 6px #5e1e21,
				0px 0px 8px 6px #84222b,
				inset 0px 0px 15px 0px #614506,
				6px 6px 1px 1px #e66565,
				-6px 6px 1px 1px #e66565;
	text-align: center;			
}


.content p{
	color: #461417;
	font-size: 56px;
	padding: 40px;
	margin: 0;
}

.buttons{
	margin-top: 40px;
	display: flex;
	justify-content: normal;
	align-items: center;
	gap: 30px;
}

.button{
	border:2px solid #49181e;
	padding: 20px;
	flex: 1;
	border-radius: 20px;
	font-family: "skranji", cursive;
	color: #fff;
	font-size: 32px;
	text-shadow: 1px 2px 3px #000000;
	cursor: pointer;
	box-shadow: 0px 0px 0px 4px #7e1522,
				0px 2px 0px 3px #e66565;
}

button.confirm{
	background: linear-gradient(#ced869, #536d1b);
}

button.cancel{
	background: linear-gradient(#ea7079, #891a1a);
}